<div class="cabecalho">
  <div class="direita"><button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
  <i class="fa fa-arrow-left" aria-hidden="true"></i>
</button>
    <button mwlCalendarToday [(viewDate)]="viewDate">
    <i class="fa fa-circle" aria-hidden="true"></i>
</button>
    <button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
</button>
  </div>
  <div class="esquerda">
    <button (click)="view = 'month'" [class.active]="view === 'month'">
  Mensal
</button>
    <button (click)="view = 'week'" [class.active]="view === 'week'">
  Semanal
</button>
    <button (click)="view = 'day'" [class.active]="view === 'day'">
  Dia
</button>
  </div>
</div>
<div class="header-center">
  <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'pt' }}</h3>
</div>

<div class="cabecalho" [ngSwitch]="view">
  <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" (dayClicked)="viewDate = $event.day.date; view = 'day'">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" (dayHeaderClicked)="viewDate = $event.day.date; view = 'day'">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events">
  </mwl-calendar-day-view>
</div>