<main id="conteudo">
  <article class="principal">
    <label class="header-article">Criar Questão</label>

    <div id="formQuestion">
      <form action="" method="post">
        <label><span>Nome</span><input type="text"  value="" /></label>
        <label><span>Email </span><input type="text" value="" /></label>
        <label>
          <span>Select</span>
          <select>
        <option>valor 1 </option>
        <option>valor 1 </option>
        <option>valor 1 </option>
        </select>
      </label>
        <label><span>Message</span><textarea></textarea></label>
      </form>
    </div>
  </article>
</main>