/*RESET*/
*,*:before,*:after{
    margin:0;
    padding: 0;
    
    font-size: 1em;
    line-height: 1.2;
    letter-spacing: 0em;
    font-weight: 400;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -wekit-box-sizing: border-box;
     
}
body{
    background:#edf0f5;
    font-family: 'Raleway', sans-serif;
}
h1{font-size:2em; font-weight: 400;}
h2{font-size: 1.8em; font-weight: 500;}
h3{font-size:1.5em; font-weight: 600;}
p{margin-bottom:15px;}
b,strong{font-weight: bold;}
mark{padding:5px 10px; background:#eee;}
ul{list-style: none;}
img{border:none; max-width: 100%; vertical-align: middle;}
small{font-size: 0.5em; color:#555;}
a{text-decoration: none; color:#09f; }
a img{border: 0; }
button{outline: 0;}



#side-bar{
    background-color:#fff;
    width:200px;font-weight: 600;
    width: 210px;
    height: 100%;
    position: fixed;
    z-index:1;
}
#side-bar header{
    box-sizing: border-box;
    padding:20px;
    text-align:center;
    font-weight: 600;
    background-color:#303f9f;
    height:60px;
    color:#fff;
    float:left;
    width: 100%;
    -webkit-box-shadow: 10px 0px 52px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 0px 52px -20px rgba(0,0,0,0.75);
    box-shadow: 10px 0px 52px -20px rgba(0,0,0,0.75);
}
#side-bar ul li a{
    float:left;
    width: 100%;
    padding: 20px 10px 20px 30px;
    display:block;
    transition:all 0.2s ease-in-out;
    color:#8d8f92;
    text-transform: uppercase;
    font-size: 0.8em;
    
}
#side-bar ul li a span{
    margin-left:20px;
    font-weight: 600;
}
#side-bar ul li a:hover{
    cursor:pointer;
    background:#edf0f5;
    border-left:2px solid #303f9f;
}

#topo{
    box-sizing: border-box;
    padding-left:210px;
   background: #000;
   color:#fff;
    width: 100%;
    position:fixed;
    z-index:1;
}
#topo header{
    height:60px;
    background-color:#3f51b5;
    width: 100%;
    float:left;
    color:#D8D8D8;
    padding:20px;
}
#conteudo{
    display:block;
    margin-left:210px;
     color:#fff;
    width: calc(100% - 210px);
    padding:10px;
    padding-top:70px;
}
#conteudo .principal{
    width:100% !important;
}
.mid{
    float:left;
    display:block;
    width: 100%;
}

#conteudo .article{
    float:left;
    background-color:#fff;
    border:1px solid #d7e0f1;
    padding:20px;
    color:#000;
    margin-bottom:10px;

}
.content-dash .article,
.mid .mid-container-2
{
    float: left;
    width: 49.5%;
    margin-right:1%;
}
.content-dash .article:last-of-type,
.mid .mid-container-2:last-of-type{
    margin-right: 0 !important;
    float:right;
}
.mid .mid-container-3{
    float:left;
    width:32.6%;
    margin-right:1%;
    
    }
.mid .mid-container-3:last-of-type{
    float:right !important;
    margin-right:0%;
}
.content-options .article{
width:24.2%;
margin-right:1%;

}.content-options .article:last-of-type{
margin-right:0 !important;
float:right !important;
}

.header-article{
    color:#3f51b5;
    font-weight: 600;
    margin-bottom:10px;
    float:left;
    width:100%;
}
#formQuestion label{
    display: block;
    margin: 0px 0px 15px 0px;
}
#formQuestion label > span{
    width: 100px;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
 #formQuestion input, #formQuestion select, #formQuestion textarea{
    width: calc(100% - 100px);
    
}

input, select,textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.has-success input:focus{
    border:1px solid #1FE639;
}
.has-error input:focus{
    border:1px solid red;
}
.has-success{
    color:#1FE639;
}
.has-error{
    color:red;
}
input:focus,select:focus,textarea:focus{
    border: 1px solid #3f51b5;
}

 input[type=submit],input[type=button], button{
     cursor: pointer;
     width: initial !important;
    border: none;
    padding: 8px 15px 8px 15px;
    background: #3f51b5;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
#formQuestion input[type=submit]:hover,
#formQuestion input[type=button]:hover,
 button:hover{
    background: #303f9f;
    color: #fff;
}
.drop  {
  display:none
}
ul li:hover > .drop {
    display: block; 
}
.icon-right{
    float: right;
    margin-right: 15px;
}
.drop li a span, .drop li a i{
    margin-left:10px !important;
}

table th,
table td{
  text-align: left;
}
table.layout{
  width: 100%;
  border-collapse: collapse;
}
table.display{
  margin: 1em 0;
}
table.display th,
table.display td{
  border: 1px solid #B3BFAA;
  padding: .5em 1em;
}

table.display th{ background: #D5E0CC; }
table.display td{ background: #fff; }

table.responsive-table{
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px){
    table.responsive-table{
      box-shadow: none;  
    }
    table.responsive-table thead{
      display: none; 
    }
  table.display th,
  table.display td{
    padding: .5em;
  }
    
  table.responsive-table td:nth-child(1):before{
    content: 'Cod.';
  }
  table.responsive-table td:nth-child(2):before{
    content: 'Name';
  }
  table.responsive-table td:nth-child(3):before{
    content: 'CPF';
  }
  table.responsive-table td:nth-child(4):before{
    content: 'Opcoes';
  }
  table.responsive-table td:nth-child(1),
  table.responsive-table td:nth-child(2),
  table.responsive-table td:nth-child(3),
  table.responsive-table td:nth-child(4){
    padding-left: 25%;
  }
  table.responsive-table td:nth-child(1):before,
  table.responsive-table td:nth-child(2):before,
  table.responsive-table td:nth-child(3):before,
  table.responsive-table td:nth-child(4):before{
    position: absolute;
    left: .5em;
    font-weight: bold;
  }
  
    table.responsive-table tr,
    table.responsive-table td{
        display: block;
    }
    table.responsive-table tr{
        position: relative;
        margin-bottom: 1em;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    }
    table.responsive-table td{
        border-top: none;
    }
    table.responsive-table td.organisationnumber{
        background: #D5E0CC;
        border-top: 1px solid #B3BFAA;
    }
    table.responsive-table td.actions{
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background: none;
    }
}
.direita{
    float:left;
    
}
.esquerda{
    float:right;
}
.header-center{
    width:100%;
    float:left;
    text-align: center;
    text-transform: uppercase;
}
.cabecalho{
    width:100%;
    float:left;
}