<div id="conteudo">
  <div class="content-dash">
    <div class="article">
      <p>teste</p>
    </div>
    <div class="article">
      <p>teste</p>
    </div>
  </div>
  <div class="content-options">
    <div class="article">
      <p>teste</p>
    </div>
    <div class="article">
      <p>teste</p>
    </div>
    <div class="article">
      <p>teste</p>
    </div>
    <div class="article">
      <p>teste</p>
    </div>
  </div>
  <div class="content-options">
    <div class="article">
      <p>teste</p>
    </div>
    <div class="article">
      <p>teste</p>
    </div>
    <div class="article">
      <p>teste</p>
    </div>
    <div class="article">
      <p>teste</p>
    </div>
  </div>
  <div class="content-options">
    <div class="article">
      <p>teste</p>
    </div>
    <div class="article">
      <p>teste</p>
    </div>
    <div class="article">
      <p>teste</p>
    </div>
    <div class="article">
      <p>teste</p>
    </div>
  </div>
  <div class="content-options">
    <div class="article">
      <p>teste</p>
    </div>
    <div class="article">
      <p>teste</p>
    </div>
    <div class="article">
      <p>teste</p>
    </div>
    <div class="article">
      <p>teste</p>
    </div>
  </div>
  <div class="content-dash">
    <div class="article">
      <p>teste</p>
    </div>
    <div class="article">
      <p>teste</p>
    </div>
  </div>
  <div class="content-dash">
    <div class="article">
      <p>teste</p>
    </div>
    <div class="article">
      <p>teste</p>
    </div>
  </div>
</div>