<div id="conteudo">
  <div class="article principal">
    <label class="header-article">Cadastrar Usuário</label>

    <div id="formQuestion">
      <form [formGroup]="UserForm" name="UserForm" novalidate>
        {{UserForm.value | json}}

        <label><span>Nome</span>
              <pro-input-container errorMessage="Campo obrigatório,no mínimo 2 caracteres" label="Nome">
                <input formControlName="name" placeholder="Nome" autocomplete="off">
              </pro-input-container>
            </label>

        <div class="mid">
          <div class="mid-container-2">
            <label><span>RG</span>
                  <pro-input-container errorMessage="Campo obrigatório" label="rg">
                    <input type="tel" formControlName="rg" placeholder="000.000-00" autocomplete="off" proMask="00.000-000">
                  </pro-input-container>
                </label>
          </div>
          <div class="mid-container-2">
            <label><span>CPF</span>
                    <pro-input-container errorMessage="Campo obrigatório e com 11 caracteres" label="cpf">
                      <input type="tel" formControlName="cpf" placeholder="000.000.000-00" autocomplete="off" proMask="000.000.000-00">
                    </pro-input-container>
                  </label>
          </div>
        </div>

        <div class="mid">
          <div class="mid-container-3">
            <label><span>CEP</span>
                        <pro-input-container errorMessage="Campo obrigatório e com 8 caracteres" label="cep">
                          <input type="tel" formControlName="cep" placeholder="00000-000" autocomplete="off" proMask="00000-000">
                        </pro-input-container>
                      </label>
          </div>

          <div class="mid-container-3">
            <label><span>Num</span>
                    <pro-input-container label="num" errorMessage="Campo obrigatório">
                      <input type="tel" formControlName="num" placeholder="000" autocomplete="off"  >
                    </pro-input-container>
                  </label>
          </div>
          <div class="mid-container-3">
            <label><span>Comp</span>
                    <pro-input-container>
                      <input type="text" formControlName="comp" placeholder="Casa / Apartamento" autocomplete="off">
                    </pro-input-container>
                  </label>
          </div>
        </div>

        <label><span>Rua / Av</span>
          <pro-input-container >
            <input formControlName="address" autocomplete="off" disabled>
          </pro-input-container>
        </label>

        <div class="mid">
          <div class="mid-container-3">
            <label><span>Bairro</span>
                        <pro-input-container>
                          <input type="text" formControlName="bairro" autocomplete="off"  disabled>
                        </pro-input-container>
                      </label>
          </div>

          <div class="mid-container-3">
            <label><span>Cidade</span>
                    <pro-input-container>
                      <input type="text" formControlName="cidade" autocomplete="off"  disabled>
                    </pro-input-container>
                  </label>
          </div>
          <div class="mid-container-3">
            <label><span>Estado</span>
                    <pro-input-container>
                      <input type="text" formControlName="uf" autocomplete="off" disabled>
                    </pro-input-container>
                  </label>
          </div>

        </div>
        <div class="mid">
          <div class="mid-container-3">
            <label><span>Telefone</span>
                        <pro-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="tel">
                          <input type="tel" formControlName="tel" placeholder="(00)0000-0000" autocomplete="off"  proMask="(00)0000-0000">
                        </pro-input-container>
                      </label>
          </div>

          <div class="mid-container-3">
            <label><span>Celular</span>
                    <pro-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="cel">
                      <input type="tel" formControlName="cel" placeholder="(00)00000-0000" autocomplete="off"  proMask="(00)0000-0000">
                    </pro-input-container>
                  </label>
          </div>
          <div class="mid-container-3">
            <label><span>Outro</span>
                    <pro-input-container>
                      <input type="text" formControlName="telOpc"  placeholder="" autocomplete="off">
                    </pro-input-container>
                  </label>
          </div>

        </div>

        <div class="mid">
          <div class="mid-container-3">
            <label><span>Pagamento</span>
                          <pro-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="pgt">
                            <input type="tel" formControlName="pgt" placeholder="(00)0000-0000" autocomplete="off">
                          </pro-input-container>
                        </label>
          </div>

          <div class="mid-container-3">
            <label><span>Início</span>
                      <pro-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="inicio">
                        <input type="text" formControlName="inicio" >
                      </pro-input-container>
                    </label>
          </div>
          <div class="mid-container-3">
            <label><span>Categ.</span>
                      <pro-input-container >
                        <input type="text" formControlName="categ" placeholder="" autocomplete="off">
                      </pro-input-container>
                    </label>
          </div>
        </div>

        <input type="submit" [disabled]="!UserForm.valid" value="Cadastrar" (click)="checkUser(UserForm.value)">
      </form>
    </div>
  </div>
</div>